@page "/runner"
@using HalmaEditor.Data
@using System.IO;
@inject Runner runner

<h1>Runner</h1>

<h3>Bind a linked board to start auto runner</h3>
<div class="row">
    <div class="col-sm-10">
        @if (runner.BoundBoardManager == null)
        {
            <div class="btn-group-vertical">
                @foreach (var board in runner.Hub.boardManagers.Keys)
                {
                    <button type="button" class="btn btn-light text-left" @onclick="@((e) => {runner.BindBoardManager(board);} )">
                        @board
                    </button>
                }
            </div>
        }
        else
        {
            <button type="button" class="btn btn-link text-left" @onclick="@((e) => {runner.UnbindBoardManager();} )">
                Bound with @runner.BoundBoardManager.LinkedFilePath - Click to unbind
            </button>
        }
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-10">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Player 1 - White</span>
            </div>
            <input type="text" class="form-control" placeholder="Command" @bind="runner.P1CmdString" />
            <input type="text" class="form-control" placeholder="Working Directory" @bind="runner.P1WorkDir" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Player 2 - Black</span>
            </div>
            <input type="text" class="form-control" placeholder="Command" @bind="runner.P2CmdString" />
            <input type="text" class="form-control" placeholder="Working Directory" @bind="runner.P2WorkDir" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Command" @bind="runner.P1Log.FileName" />
            <div class="input-group-append">
                <button class="btn btn-warning" type="button" @onclick="@(()=>runner.P1Log.DeleteLogFile())">
                    Delete Player 1 Log File
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Command" @bind="runner.P2Log.FileName" />
            <div class="input-group-append">
                <button class="btn btn-warning" type="button" @onclick="@(()=>runner.P2Log.DeleteLogFile())">
                    Delete Player 2 Log File
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <button class="btn btn-primary" disabled="@(IsRunning)" type="button" @onclick="@(()=>Run())">
            Start Runner
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <pre><code>@Output</code></pre>
    </div>
</div>

@code {
    public string Output;

    public bool IsRunning = false;

    public string test;

    void OnRunTriggered(object sender, RunnerTriggeredEventArgs e)
    {
        Task.Run(async () => await Run());
    }

    async Task Run()
    {
        if (IsRunning)
        {
            Output = $"[!! Cannot Run while Running !!]";
            return;
        }
        if (runner.BoundBoardManager == null)
        {
            Output = "[!! Link a board to a input and choose that board from a button above !!]";
            return;
        }
        int player = runner.BoundBoardManager.IsWhite ? 1 : 2;
        Output = $"[ Player {player} Running... ]";
        IsRunning = true;
        var res = await runner.Run(player);
        if (res.Timeout)
        {
            Output = $"[!! Player {player} Time Out !!]\n" + res.StdOut;
        }
        else if (res.ExitCode != 0)
        {
            Output = $"[!! An Error Occured for Player {player} Agent, Check Log File !!]\n" + res.StdErr;
        }
        else
        {
            Output = $"[ Player {player} Time Used: {res.TimeInSecond} ]\n" + res.StdOut;
        }
        IsRunning = false;
    }

    protected override void OnInitialized()
    {
        Task.Run(() =>
        {
            while (true)
            {
                Task.Delay(1000).Wait();
                this.InvokeAsync(this.StateHasChanged);
            }
        });
        runner.RunnerTrigger += this.OnRunTriggered;
    }
}
